body {
    width: 600px;
    margin: 0 auto;
    font-family: 'Lucida Sans';
    color: #00376c;

}
a {
    color: #00376c;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h2{
    border-bottom: solid 2px #7b7b7b;
    text-align: center;
}
h3{
    color: #1577ff;
    border-bottom: solid 2px #1577ff;
    display: inline;
}
.services p{
    font-style: italic;
}
header{
    border-bottom: solid 6px #7b7b7b;
    line-height: 80px;
    text-align: center;
    background-color: #c7e3ff ;
    margin-bottom: 40px;
}
footer {
    font-style: italic;
    text-align: center;
    background-color: #c7e3ff ;
    margin-bottom: 40px;
    padding: 10px;
}
.story{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}
.services{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}
.locations{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    background-color: #e7e7e7;
}
footer img {
    width: 150px;
}